<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>
      <GigabitEthernet>
        <name>{{ interface_name }}</name>
        <description>{{ interface_desc }}</description>
      </GigabitEthernet>
    </interface>
  </native>
</config>
